.img-section img {
  width: 30vw;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%) !important;
}
.pagecard .title {
  cursor: pointer;
}
.pagecard .desc {
  cursor: pointer;
}
.pagecard {
  display: flex;
  padding: 1em;
  background-color: rgb(255, 238, 238);
  margin: 1em auto;
  border: solid 1px black;
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%) !important;
}
.text-section {
  margin: 0.5em auto auto 2em;
}
.title {
  font-size: 2.5vw;
}
.desc {
  font-size: 1.3vw;
}
.planned-card .title {
  cursor: pointer;
}
.pagecard .img-section {
  align-self: center;
}
.stars-row {
  display: flex;
  height: 1em;
  width: 5em;
}

.Rows {
  margin-top: 1em;
}
.small-text-rows {
  padding-bottom: 0.7em;
  display: flex;
  align-items: center;
}
.small-text {
  margin: 0 1em 0 0;
}
.price {
  padding-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.remove-button {
  padding: 1em;
  background-color: #99621e;
  color: white;
  width: fit-content;
  cursor: pointer;
}
.receipt-card .img-section {
  width: 40%;
  align-self: center;
}
.receipt-card .title {
  font-size: 1vw;
  font-weight: 600;
}
.receipt-card .price {
  font-size: 1vw;
}
.receipt-card .small-text-rows {
  padding: 0;
}
.receipt-card {
  display: flex;
  background-color: white;
  border: 1px solid rgb(57, 57, 57);
  padding: 1em;
  margin-left: 1em;
  margin-top: 1em;
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 20%) !important;
}
.receipt-card .img-section img {
  width: 100%;
}
.evildiv div {
  overflow: visible !important;
  position: static !important;
}
.evildiv img {
  position: static !important;
  max-height: none !important;
  max-width: none !important;
  width: 45vh !important;
  height: auto !important;
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
.receipt-card .evildiv img {
  position: static !important;
  max-height: none !important;
  max-width: none !important;
  width: 100% !important;
  height: auto !important;
  box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%) !important;
}
@media only screen and (max-width: 900px) {
  .pagecard img {
    width: 100% !important;
  }
  .receipt-card .title {
    font-size: 1em;
  }
  .receipt-card {
    flex-direction: column;
    margin-left: 0;
  }
  .receipt-card .img-section {
    width: 100%;
  }
  .receipt-card .price {
    font-size: 1em;
  }
  .receipt-card .remove-button {
    margin: auto;
  }
  .title {
    font-size: 1.5em;
    text-align: center;
  }
  .text-section {
    margin: auto;
    text-align: center;
  }
  .desc {
    font-size: 1em;
  }
  .pagecard {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
  }
  .img-sections img {
    width: 100%;
  }
  .pagecard .img-section {
    width: 90%;
    margin: auto;
  }
  .small-text-rows {
    justify-content: center;
    padding: 0;
  }
  .small-text {
    margin: 0 1em 0 0;
  }
}
