.home-item a {
  cursor: pointer;
}
.home-item img {
  cursor: pointer;
}
.home-item {
  margin-right: 15px;
}
.home-img {
  width: 45vh;
  height: 30vh;
  object-fit: cover;
  border-radius: 35px;
}
.title{
  font-size: 1.8vw;
}
.rating {
  display: flex;
}
.star {
  width: 15px !important;
  height: 15px !important;
  max-height: none !important;
  max-width: none !important;
  min-height: 0px !important;
  min-width: 0px !important;
}
.Rows{
  padding: 0 .3em;
}
@media only screen and (max-width: 900px) {
  .title{
    font-size: 1em;  }
}
