.home{
    width: 90%;
    margin: 5em auto;
}
.home-section{
    text-align: left;
}
.section-list::-webkit-scrollbar {
    display: none;
  }
.section-list{
    display: flex;
    overflow: scroll;
}