.home {
  width: 90%;
  margin: 2em auto 1em;
}
.home-section {
  text-align: left;
}
.section-list::-webkit-scrollbar {
  display: none;
}
.section-list {
  display: flex;
  overflow: scroll;
}
.section-title {
  font-size: 2vw;
  padding: 0 0.3em;
}
@media only screen and (max-width: 900px) {
  .section-title {
    font-size: 1em;
  }
}
