.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  margin: 30px;
  font-weight: bold;
}
.admin {
  text-align: center;
  width: 70%;
  margin: auto;
  margin-bottom: 3em;
}
.form div {
  display: flex;
}
@media only screen and (max-width: 900px) {
  .admin {
    margin: 8em auto 5em;
  }
}
