
.top-section{
    display: flex;
    justify-content: space-between;
}
.top-subsection{
    display: flex;
}
.bottom-section{
    display: flex;
    background-color: black;
}
.bottom-item:hover{
    background-color: rgb(99, 99, 99);
}
.bottom-item {
    padding: 10px 15px;
    color: white;
    border-right: 1px solid white;
}