.Navbar {
  font-size: 1vw;
}
.top-section {
  display: flex;
  justify-content: space-between;
}
.top-subsection {
  display: flex;
}
.section {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
  margin: auto;
}
.bottom-item:hover {
  background-color: rgb(210, 210, 210);
}
.bottom-item {
  padding: 1em 1.5em;
  color: white;
  font-weight: bold;
}
.Navbar a {
  text-decoration: none;
  color: black;
}
.bottom-item a {
  text-decoration: none;
  color: black;
}
.Navbar a:visited {
  text-decoration: none;
}
.mobile {
  display: none;
  z-index: 5;
  background-color: rgb(255, 234, 234);
}
.ham {
  width: 2em;
  margin: 1em;
  cursor: pointer;
}
.mobile-sections {
  display: flex;
  justify-content: space-between;
}
.modal {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  height: 20000px;
  background-color: rgb(255 255 255);
  color: white;
}
a .ham:hover {
  cursor: pointer;
}
.modal-exit {
  text-align: right;
  margin: 1em 1em 0.5em;
  color: black;
  cursor: pointer;
}
.bottom-item {
  color: black;
  cursor: pointer;
}
@media only screen and (max-width: 900px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
    margin: auto;
    position: fixed;
    width: 100%;
    top: 0;
  }
  .Navbar {
    position: fixed;
    width: 90%;
    z-index: 3;
    left: 0;
    right: 0;
    padding: 0 5vw;
  }
  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .bottom-item {
    width: 100%;
    text-align: right;
    border-bottom: #c5c5c5 solid 1px;
  }
}

.Navbar,
.bottom-item {
  background-color: rgb(255, 234, 234);
}
.evildiv div {
  overflow: visible !important;
  position: static !important;
}
.evildiv .ham {
  position: static !important;
  max-height: none !important;
  max-width: none !important;
  min-height: 0 !important;
  min-width: 0 !important;
  width: 2em !important;
  margin: 1em !important;
  height: auto !important;
}
